<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<input type="checkbox" id="checkbox">
	<header class="header">
		<h2 class="u-name">Happ<b>Tad</b>
			<label for="checkbox">
				<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
			</label>
		</h2>
		<i class="fa fa-user" aria-hidden="true"></i>
	</header>
	<div class="body">
		<nav class="side-bar">
			<ul>
				<button class="button-9" role="button">Login</button>
				<li>
					<a href="#">
						<i class="fa-solid fa-house"></i>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-file-invoice-dollar" aria-hidden="true"></i>
						<span>Invoice</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-regular fa-cart-flatbed"></i>
						<span>Invest report</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-credit-card"></i>
						<span>Debit collecter</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-calculator"></i>
						<span>TAX Calculator</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-address-book"></i>
						<span>Contact</span>
					</a>
				</li>
				<!-- HTML !-->
			</ul>
			<div class="select_leng">
				<i style="padding-left: 10px;" class="fa-solid fa-circle-question"></i>
				<i style="padding-left: 10px; padding-right: 20px"  class="fa-solid fa-person"></i>
				<form>
					<select name="languages" id="languages">
						<option value="Uzbekistan">Uzbekistan</option>
						<option value="Russia">Russia</option>
						<option value="kazakhstan">kazakhstan</option>
						<option value="English">English</option>
					</select>
				</form>
			</div>
		</nav>
		<section class="section-1">
			<div class="card_home">
				<div class="card" style="width: 25rem;">
					<img class="card-img-top" style="height: 12rem;" src="./img/grand-canyon.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
				</div>
				<div class="card" style="width: 25rem;">
					<img class="card-img-top" style="height: 12rem;" src="./img/grand-canyon.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
				</div>
				<div class="card" style="width: 25rem;">
					<img class="card-img-top" style="height: 12rem;" src="./img/grand-canyon.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
					</div>
				</div>
			</div>
			<div class="card_home">
				<div class="card_home">
					<div class="card" style="width: 15rem; height: 5rem">
						<img class="card-img-top" src="./img/grand-canyon.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
					<div class="card" style="width: 15rem; height: 5rem">
						<img class="card-img-top" src="./img/grand-canyon.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
					<div class="card" style="width: 15rem; height: 5rem">
						<img class="card-img-top" src="./img/grand-canyon.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
					<div class="card" style="width: 15rem; height: 5rem">
						<img class="card-img-top" src="./img/grand-canyon.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
						</div>
					</div>
				</div>
		</section>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>